# Copyright 2020 Intel Corporation
# SPDX-License-Identifier: Apache 2.0

# This is an example script to demonstrate out-of-box execution of the component.
# Appropriate security measures with respect to key-store management and 
# configuration management should be considered while production deployment.
version: "2.4"

services:

  reseller:
    build:
      context: .
      dockerfile: Dockerfile-reseller
      # Uncomment and edit proxy configuration if your environment requires proxies.
      # args:
        # http_proxy: http://yourProxy.yourCompany.com:80
        # https_proxy: http://yourProxy.yourCompany.com:443
    image: reseller:1.10.2
    container_name: reseller
    restart: on-failure:5
    ports:
      # If you use a different port for the reseller, modify it here as well as in the healthcheck below.
      - "8080:8080"
    expose:
      - "8080"
    volumes:
      # Map volume for sharing keys.
      - ./keys:/keys:ro
    env_file:
      - ./reseller.env
    depends_on:
      reseller-mariadb:
        condition: service_healthy
    mem_limit: 500m
    mem_reservation: 200m
    cpu_shares: 5
    pids_limit: 100
    networks:
      - reseller_network

  reseller-mariadb:
    build:
      context: .
      dockerfile: Dockerfile-mariadb
      # Uncomment and edit proxy configuration if your environment requires proxies.
      # args:
        # http_proxy: http://yourProxy.yourCompany.com:80
        # https_proxy: http://yourProxy.yourCompany.com:443
    image: reseller-mariadb:1.10.2
    container_name: reseller-mariadb
    restart: on-failure:5
    ports:
      - "3307:3306"
    expose:
      - "3307"
    env_file:
      - ./reseller-mariadb.env
    mem_limit: 300m
    mem_reservation: 100m
    cpu_shares: 5
    pids_limit: 100
    networks:
      - reseller_network

networks:
  reseller_network:
    driver: bridge
    name: reseller_network
